h1{
    color: rgb(82, 43, 15);
    font-size: 70px;
    font-family: 'Times New Roman', Times, serif;
}
*{
    margin: 5px;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;  
}

p{
        color: rgb(87, 38, 4);
        font-size: 20px;
        font-family: 'Times New Roman', Times, serif;

}
a{
    color: rgb(74, 33, 4);
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
}
h2{
    color: rgb(126, 63, 17);
    font-size: 60px;
    font-family: 'Times New Roman', Times, serif;
}
body{
    
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url(abstract\ landscape\ posters_\ Modern\ background\ flat\ design\,\ contemporary\ boho\ mountains\ minimalist\ wall\ decor_.jpg);
}
.container{
    margin: 100px auto;
    width: 70%;
}
img{
    max-width: 300px;
    float: left;
    border-radius: 10px;
    border: 3px solid rgb(126, 57, 7);
    margin-right: 20px;
}